In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

### Background:
<br/>
Bombay hospitality Ltd. operates a franchise model for producing exotic Norwegian dinners throughout New England. The operating cost for a franchise in a week (W) is given by the equation W = $1,000 + $5X, where X represents the number of units produced in a week. Recent feedback from restaurant owners suggests that this cost model may no longer be accurate, as their observed weekly operating costs are higher.
Objective:
To investigate the restaurant owners' claim about the increase in weekly operating costs using hypothesis testing.
<br/>
Data Provided:
<br/>
‚Ä¢	The theoretical weekly operating cost model: W = $1,000 + $5X
<br/>
‚Ä¢	Sample of 25 restaurants with a mean weekly cost of Rs. 3,050
<br/>
‚Ä¢	Number of units produced in a week (X) follows a normal distribution with a mean (Œº) of 600 units and a standard deviation (œÉ) of 25 units

## state the hypothesisi statement
## H0:Œº =  1000+5*600= 4000
## Ha:Œº = >4000

## Calculate the Test Statistic:
Use the following formula to calculate the test statistic (t):
where:
# ÀâxÀâ = sample mean weekly cost (Rs. 3,050)
# Œº = theoretical mean weekly cost according to the cost model (W = $1,000 + $5X for X = 600 units)
# œÉ = 5*25 units
# n = sample size (25 restaurants

This is the formulas for t-test
<br/>
![image.png]()

calculate the mean for therotical  cost
<br/>
Œº = 1,000+5√ó600
  =1,000+3,000
  =4,000

Compute the t-test
<br/>
![t test.PNG]()

## Determine the Critical Value


Using the alpha level of 5% (Œ± = 0.05), determine the critical value from the standard normal (Z) distribution table
here we used one tailed test ùõº=0.05, the critical value is approximately 1.645.

For a one-tailed test, the critical value for a right-tailed test is 1.645 at a 5% significance level, and the critical value for a left-tailed test is ‚àí1.645.

## Make a Decision:
Compare the test statistic with the critical value to decide whether to reject the null hypothesis

In [9]:
import math
#Given Data:
#here:
sample_mean= 3050
theoretical_mean =4000
sample_std= 5*25 
sample_size = 25

### calculate t-statistics
t_statistics= (sample_mean-theoretical_mean)/((sample_std)/math.sqrt(sample_size))
t_statistics

-38.0

In [10]:
# Determine the critical value for one tailed test alpha=0.05
alpha = 0.05
critical_value = 1.645

In [11]:
##Compare the test statistic with the critical value to decide whether to reject the null hypothesis.
Reject_null = t_statistics > critical_value
Reject_null

False

In [13]:
t_statistics, critical_value, Reject_null    ###output

(-38.0, 1.645, False)

## **Results**


1. Test Statistics (t) : -38.0
2. Critical Value : 1.645
3. Decision : Do not reject the null hypothesis

## Conclusion:
Based on the statistics value and critical value , we can fail to reject Null hypothesis this means that there is strong evidence to support the restaurant owners' claim that the weekly operating costs are higher than the model suggests
The observed mean weekly cost of Rs. 3,050 is significantly lower than the theoretical mean cost of Rs. 4,000, contradicting the claim of higher costs.